.skills {
  padding: 2rem 0;
  display: flex;

  .skills__container {

    margin-right: 50px;

    h3 {
      font-weight: 400;
      margin-bottom: 10px;
    }

    .skills__flex {
      display: flex;

      img {
        width: auto;
        object-fit: cover;
        margin-right: 8px;
        transition: 0.2s;
      }
    }
  }

  .skills__container.selected {
    margin-bottom: 2.5rem;

    h3 {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .skills {
    .skills__container {
      margin: 0;

      .skills__flex {
        img {
          height: 50px;
        }
      }
    }
  }

}
