.title {
  margin: 5rem auto 2rem;

  h2 {
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
  }
}

@media screen and (max-width: 428px) {

  .title {
    margin: 1.5rem auto;
  }
}
