.workContainer {
  width: 80%;
  margin: 0 auto;

  ._flex {
    display: flex;

    img {
      margin-right: 45px;
    }

    img._thumbnail {
      border-radius: 20px;
    }
  }

  ._description {
    width: 80%;
    margin: 0 auto;
    padding: 15px;

    ._description__title {
      font-size: 25px;
      margin: 10px 0;
      a {
        color: #fff;
        text-decoration: none;
      }
    }

    ._description__text {
      margin: 5px 0;
    }

    ._description__repoLink {
      margin: 10px 0;
      a {
        color: #00acee;
        text-decoration: none;
      }
    }
  }

  ._preview {
    margin-top: 60px;

    ._preview__button {
      background: none;
      border: none;
      margin-bottom: 10px;
      cursor: pointer;

      h3 {
        font-size: 20px;
        font-weight: 400;

        span {
          font-size: 14px;
          padding-left: 4px;
          vertical-align: middle;
        }
      }
    }

    ._flex {
      transition: 0.2s;
    }
  }
}
